<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Playground</h1>

        <ul>
            <% for(let i = 1; i<=5; i++){ %>
                <li>
                    <%= i%>        
                </li>
            <%}%>
        </ul>

        <% if(true){%>
            <h1>is it true?</h1>
        <%}else{%>
            <h3>is it false?</h3>
        <%}%>
    </body>
</html>